@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reminder";
}

<div class="container mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Check your email inbox for further instructions on resetting your password.</p>
</div>
